<tr>
  <td><%= link_to global_counter_add, user, class: 'btn btn-name' %></td>
  <td><%= link_to (user.surname + " " + user.name), user, class: 'btn btn-name' %></td>
  <td>
    <% if current_user.admin? && !user.admin? %>
      <%= link_to user, method: :delete,
                        data: { confirm: "Are you sure?" },
                        class: 'btn btn-delete' do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    <% end %>
  </td>
</tr>