<tr>
  <td><%= link_to user.name, user, class: 'btn btn-name' %></td>
  <td>
    <% if current_user.admin? && !current_user?(user) %>
      <%= link_to user, method: :delete,
                        data: { confirm: "Are you sure?" },
                        class: 'btn btn-delete' do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    <% end %>
  </td>
</tr>