<% provide(:title, 'Members') %>
<h1>All members</h1>

<% if current_user.admin? %>
  <div class="container-fluid">
<% else %>
  <div class="container">
<% end %>
  <div class="col-md-6 col-md-offset-3">
    <%= will_paginate class: 'center', inner_window: 2, outer_window: 0 %>

    <table class="table users">
      <tbody>
          <% global_counter_assign(params[:page].to_i * 20 - 20) %>
          <%= render @users %>
      </tbody>
    </table>

    <%= will_paginate class: 'center', inner_window: 2, outer_window: 0 %>
  </div>
</div>