<div class="col-md-6">
  <a href="<%= event_path(event) %>" class="event-jumbotron">
    <div class="jumbotron event-jumbotron">
      <p><%= event.name %></p>
      <p><%= event.location %></p>
      <p><%= event.start.strftime("%F at %k:%M") %></p>
    </div>
  </a>
</div>