<footer>
  <small>
    The <a href="http://www.husariaraceteam.pl/">Husaria Race Team Site</a>
    by Karol Bielecki
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>